<% if coordinator_signed_in? %>
 <%= link_to "Signout", destroy_coordinator_session_path, method: :delete %> |
 <%= link_to 'New Event', new_event_path %>
 <% end %>
<% @events.each do |event| %>
 <h1><%= event.name %></h1>
 <h3><%= event.description %></h3>
 <%= image_tag event.image.url(:medium) %><br>
 <%= link_to "Edit", edit_event_path(event) %>
<% end %>
